<!-- http://localhost:4567 -->
<header class="main-header">

  <nav class="main-nav">
    <p class="main-nav__logo"><a href="#"><span class="screen-reader-text">Pex</span></a></p>
    <p class="main-nav__slogan">Photoshop website template</p>

    <!--command ul>li*5>a[href="#"] -->
    <ul class="main-nav__menu">
      <li class="main-nav__menu-item"><a href="#">About</a></li>
      <li class="main-nav__menu-item"><a href="#">How it works</a></li>
      <li class="main-nav__menu-item"><a href="#">Services</a></li>
      <li class="main-nav__menu-item"><a href="#">FAQ</a></li>
      <li class="main-nav__menu-item"><a href="#">Contact</a></li>
      <li class="main-nav__menu-item main-nav__menu-item--search">
        <form action="#">
          <input type="text" placeholder="Search website">
        </form>
      </li>
    </ul>
  </nav>

  <h1 class="main-header__title">
    Designs your eyes will thank you for
  </h1>

  <a class="main-header__button" href="#">Get started today</a>
  <p class="main-header__disclaimer">Lorem ipsum dolor sit amet, consectur</p>

</header>

<section class="main-features">
  <ul class="main-features-list features">
    <li class="feature">
      <strong class="feature__heading">A fantastic heading</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </li>
    <li class="feature">
      <strong class="feature__heading">Good day blokes</strong>
      <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </li>
    <li class="feature">
      <strong class="feature__heading">Blaz Johnson for president</strong>
      <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </li>
    <li class="feature">
      <strong class="feature__heading">Vote for Johnson</strong>
      <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </li>
  </ul>
</section>

<section class="get-started">
  <h3 class="get-started__title">Wicked &amp; wack, bang bang boo!</h3>
  <p class="get-started__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <a class="get-started__button" href="#">Get started today</a>
</section>

<section class="reasons">
  <h4 class="reasons__title">A heading is what you need here</h4>
  <p class="reasons__summary">Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  <p class="reasons__text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
</section>

<section class="get-started get-started--alt">
  <h3 class="get-started__title">Experience the mindfulness today</h3>
  <p class="get-started__paragraph get-started__paragraph--alt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <a class="get-started__button get-started__button--alt" href="#">Get started today</a>
  <p class="get-started__disclaimer">Lorem ipsum dolor sit amet, consectetur</p>
</section>

<section class="news">
  <a class="news__button" href="#">Photography</a>
  <h3 class="news__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
  <p class="news__author">Blaz Johnson, god like web designer</p>
</section>

<section class="reasons reasons--alt">
  <h4 class="reasons__title">A heading is what you need here</h4>
  <p class="reasons__summary">Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  <p class="reasons__text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
</section>

<section class="contact">
  <h4 class="contact__title">Get in touch</h4>
  <form action="#" class="contact__form">
    <textarea class="contact__form--msg" placeholder="Message"></textarea>
    <input class="contact__form--field" type="text" name="" value="" placeholder="Name">
    <input class="contact__form--field" type="text" name="" value="" placeholder="Email">
    <input class="contact__form--field" type="text" name="" value="" placeholder="Subject">
    <button class="contact__form--button" type="submit">Submit</button>
  </form>

</section>

<footer class="main-footer">
  <p class="main-footer__text">&copy; Ideas becoming reality</p>
</footer>
